@import '../../colors.scss';
@import '../../variables.scss';

.topPerformer {
	min-width: 220px;
	padding-bottom: 16px;
	width: 100%;

	@media (min-width: $breakpoint-mobile) {
		width: 45%;
	}

	@media (min-width: $breakpoint-desktop) {
		width: auto;
	}

	.category {
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 4px;

		span {
			color: $gray4;
			font-size: 10px;
			font-weight: normal;
		}
	}

	.leaders {
		border-bottom: 1px solid $primary;
		color: lighten($color: $dark, $amount: 10);
		display: flex;
		flex-direction: row;
		font-size: 15px;
		justify-content: space-between;
		padding: 4px;

		@media (min-width: $breakpoint-mobile) {
			font-size: 13px;
		}

		&:last-child {
			border: none;
		}

		&:nth-child(odd) {
			background-color: #FAFAFA;
		}

		a {
			text-decoration: none;
		}
	}

	.sessionYear {
		color: $gray4;
		font-size: 14px;
		padding-left: 4px;

		@media (min-width: $breakpoint-mobile) {
			font-size: 12px;
		}

		@media (min-width: $breakpoint-desktop) {
			font-size: 10px;
		}
	}
}