@import '../../colors.scss';

.header {
	background: $primary;
	color: $white;
	display: flex;
	flex-direction: row;
	font-size: 18px;
	justify-content: space-between;
	padding: 16px;
	//width: 100%;

	.ball {
		--fa-primary-color: rgb(10, 147, 211);
		--fa-secondary-color: rgb(255, 255, 255);
		--fa-secondary-opacity: 1.0;
	}
}