.filtersWrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 100%;

   > div {
      margin: 10px 20px;
      width: 250px;
   }

   .nameFilter {
      display: flex;
      flex-direction: row;;
   }
}